*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

ul[role='list'] {
  list-style: none;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}
